@import 'tailwindcss';

@theme {
  --color-primary: #18181b; /* zinc-900 */
  --color-secondary: #d4d4d8; /* zinc-300 */
  --skeleton-gradient: linear-gradient(90deg, #e5e7eb 25%, #f3f4f6 50%, #e5e7eb 75%);
}

@layer base {
  body {
    @apply bg-zinc-100 text-zinc-500;
  }
}

@layer components {
  /* Buttons */
  .button {
    /* Layout */
    @apply inline-flex items-center justify-center gap-2;
    @apply h-9 px-3 py-1.5;

    /* Typography */
    @apply text-sm font-medium text-white;

    /* Background & Border */
    @apply bg-primary rounded-lg;

    /* Effects */
    @apply transition-colors outline-none;

    /* Interactivity */
    @apply cursor-pointer touch-none select-none;

    /* State */
    @apply focus-visible:ring-2 focus-visible:ring-black focus-visible:ring-offset-2 md:hover:bg-zinc-700;
    @apply disabled:pointer-events-none disabled:opacity-50;
    -webkit-tap-highlight-color: transparent;
  }

  .button.secondary {
    /* Typography */
    @apply text-primary font-medium;

    /* Background & Border */
    @apply border-secondary border bg-zinc-50;

    /* State */
    @apply md:hover:border-zinc-300 md:hover:bg-white md:hover:text-zinc-800;
  }

  /* Tags */
  .tag {
    /* Box Model */
    @apply px-2 py-0.5;

    /* Typography */
    @apply text-primary text-sm;

    /* Background & Border */
    @apply border-secondary rounded-lg border;
  }

  /* Skeleton */
  .skeleton-pulse {
    /* Background & Border */
    background: var(--skeleton-gradient);
    background-size: 400% 100%;
    @apply rounded-lg;

    /* Effects */
    animation: skeleton-pulse 1.5s ease-in-out infinite;
  }
}

@layer utilities {
  .rounded-base {
    @apply rounded-lg;
  }
  .main-container {
    @apply mx-auto w-full max-w-5xl min-w-80 px-4 sm:px-6 lg:px-8;
  }
}

@keyframes skeleton-pulse {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
